<form class="pizza-form" action="index.html" method="post">
  <h4>Name that 'za, bro!</h4>
    <input class="name-your-za" type="text" name="" value="">
  <h4>Type that 'za</h4>
    <input class="type-your-za" type="text" name="" value="">
  <h4>Slap some ingredients on it!</h4>
    <input class="ingred-your-za"t ype="text" name="" value="">
  <button class="pizza-submit" type="button" name="button">We'll bake it right up for ya, braj!</button>
</form>
