<div class="row za-list">
  <div class="col-md-4">
    <span>{{ name }}</span>
  </div>
  <div class="col-md-4">
    <span>{{ type }}</span>
  </div>
  <div class="col-md-4">
    <span>{{ ingredients }}</span>
  </div>
</div>
